[Unit]
Description=Start the Website

[Service]
User=root
WorkingDirectory=/home/ubuntu/app/
ExecStartPre=/usr/bin/chmod 777 -R /home/ubuntu/app
ExecStartPre=/usr/bin/dotnet publish /home/ubuntu/app -o /home/ubuntu/app/build
ExecStart=/usr/bin/dotnet /home/ubuntu/app/build/ClientMVC.dll
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=website
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false
Environment=ASPNETCORE_URLS=http://*:80

[Install]
WantedBy=multi-user.target
